.aboutContainer {
  /* display: flex; */
  /* align-content: left; */
  flex-wrap: wrap;
  margin: 0px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  /* padding: 30px; */
  background-color: rgba(0, 0, 0, .05);
}

.picDiv {
  grid-area: 1 / 1 / 6 / 2; 
  margin-top: 10px;
}
.pic {
  padding-left: 25px;
  object-fit: contain;
}
.skills { 
  grid-area: 1 / 2 / 6 / 3; 
  margin-left: 30px;
  padding-right: 50px;
  
}
.skillHeadline{
  margin-top: 5px;
}

h2{
  color: black;
  background-color: linen;
}

.talking {
  grid-area: 6 / 1 / 11 / 3;
  display:flex;
  flex-wrap: wrap;
  font-size: 25px;
  color: white;
  padding-left: 25px;
  padding-right: 50px;
}

/* ---- Change ul bullet color ----- */
ul {
  list-style: none; /* Remove default bullets */
  font-size: larger;
}

ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: white; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  font-size: larger;
  display: inline-block; /* Needed to add space between the bullet and the text */
}

